.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.dishes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
